<script>
  function addUser() {
    var data = {
      email: $('#add-users #email').val(),
      roles: $('#add-users #roles').val()
    };

    $.ajax({
      type: 'POST',
      url: '<%= add_user_to_team_path(@team) %>',
      data: data,
      async:false
    });
  }
</script>
<div class="page-content">
  <div class="row">
    <div class="col s10">
      <%= @team.name %>
    </div>
    <div class="col s2">
      <%= link_to 'Edit', edit_team_path(@team), class: 'btn-flat right waves-effect waves-teal' %>
    </div>
  </div>

  <p>
    <strong>Organization:</strong>
    <%= link_to @team.organization.name, @team.organization %>
  </p>
</div>
<div class="page-content">
  <ul class="tabs">
    <li class="tab"><a href="#members">Members</a></li>
    <li class="tab"><a href="#admins">Admins</a></li>
    <li class="tab"><a href="#add-users">Add Users</a></li>
  </ul>
  <div id="members" class="chip-container">
    <% @team.members.each do |user| %>
        <div class="user">
          <%= link_to user.email, user %>
          <!-- Modal Trigger -->
          <a href="#" class="modal-trigger" onclick="$('#modal-remove-member-<%= user.id %>').openModal();">
            <i class="material-icons">delete</i>
          </a>

          <!-- Modal Structure -->
          <div id="modal-remove-member-<%= user.id %>" class="modal">
            <div class="modal-content">
              <h4>Remove member?</h4>
              <p>Remove <%= user.email %> as member from <%= @team.name %>?</p>
            </div>
            <div class="modal-footer">
              <%= link_to 'Remove', remove_member_from_team_path(@team, user), method: :delete, class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
              <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div id="admins" class="chip-container">
    <% @team.admins.each do |user| %>
        <div class="user">
          <%= link_to user.email, user %>
          <!-- Modal Trigger -->
          <a href="#" class="modal-trigger" onclick="$('#modal-remove-admin-<%= user.id %>').openModal();">
            <i class="material-icons">delete</i>
          </a>

          <!-- Modal Structure -->
          <div id="modal-remove-admin-<%= user.id %>" class="modal">
            <div class="modal-content">
              <h4>Remove admin?</h4>
              <p>Remove <%= user.email %> as admin from <%= @team.name %>?</p>
            </div>
            <div class="modal-footer">
              <%= link_to 'Remove', remove_admin_from_team_path(@team, user), method: :delete, class: 'modal-action modal-close waves-effect waves-green btn-flat' %>
              <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
            </div>
          </div>
        </div>
    <% end %>
  </div>
  <div id="add-users" class="row">
    <%= form_tag(add_user_to_team_path(@team)) do %>
    <div class="row">
      <div class="input-field col s8">
        <input id="email" type="email" class="validate" name="email">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s4">
        <select multiple name="roles" id="roles">
          <option value="" disabled selected>Role</option>
          <option value="admin">Admin</option>
          <option value="member">Member</option>
        </select>
      </div>
    </div>

    <button class="btn" onclick="addUser();">
      Add
    </button>
    <% end %>
  </div>
</div>
