<div class="page-content">
  <div class="row">
    <div class="col s10">
      My Profile
    </div>
    <div class="col s2">
      <%= link_to 'Edit', edit_user_registration_path, class: 'btn-flat right waves-effect waves-teal' %>
    </div>
  </div>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>
<div class="page-content">
  <ul class="tabs">
    <li class="tab"><a href="#teams">My Teams</a></li>
    <li class="tab"><a href="#organizations">My Organisations</a></li>
  </ul>
  <div id="teams">
    <table class="bordered">
      <tr>
        <th width="60%">Team</th>
        <th width="40%">Roles</th>
      </tr>
      <% @user.teams.each do |team| %>
        <tr>
          <td>
            <%= link_to team.name, team %>
          </td>
          <td>
            <% @user.roles_on(team).each do |role| %>
                <div class="role">
                  <%= role.to_s %>
                </div>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div id="organizations">
    <table class="bordered">
      <tr>
        <th width="60%">Organization</th>
        <th width="40%">Roles</th>
      </tr>
      <% @user.organizations.each do |organization| %>
          <tr>
            <td>
              <%= link_to organization.name, organization %>
            </td>
            <td>
              <% @user.roles_on(organization).each do |role| %>
                  <div class="chip">
                    <%= role.to_s %>
                  </div>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  </div>

</div>