<%= form_for(@record) do |f| %>
    <% if @survey_response.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@survey_response.errors.count, "error") %> prohibited this survey_response from being
            saved:</h2>

          <ul>
            <% @survey_response.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <table>
      <% @survey_response.survey_answers.each_with_index do |answer, index| %>
          <tr>
            <td>
              <%= answer.survey_question.title %>
            </td>
            <td>
              <%= answer.survey_question.text %>
            </td>
            <td>
              <%= f.fields_for :survey_answers, answer do |a| -%>
                  <table class="answers">
                    <tr>
                      <td><img src="/moods/good.png"></img></td>
                      <td><img src="/moods/meh.png"></img></td>
                      <td><img src="/moods/bad.png"></img></td>
                    </tr>
                    <tr>
                      <% [Mood::GOOD, Mood::MEH, Mood::BAD].each_with_index do |mood| %>
                          <td>
                            <% button_id = "mood-#{mood.name}-#{answer.survey_question.id}" %>
                            <% button_name = "survey_response[survey_answers_attributes][#{index}][mood_id]" %>
                            <input id="<%= button_id %>" type="radio" value="<%= mood.id %>" name="<%= button_name %>" <%= answer.mood == mood ? 'checked="checked"' : '' %>">
                            <label for="<%= button_id %>"></label>
                          </td>
                      <% end %>
                    </tr>
                  </table>
                  <%= a.hidden_field :survey_question_id, value: answer.survey_question.id %>
              <% end -%>
            </td>
          </tr>
      <% end %>
    </table>

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
