<% breadcrumb :survey_responses, @survey %>

   <p id="notice"><%= notice %></p>

<h1>Listing Survey Responses</h1>
<table class="responses">
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="2">Org Average</th>
      <% @survey.teams.each do |team| %>
        <th>
          <%= link_to team.name, team_survey_survey_responses_path(@survey, team.id) %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @survey.survey_template.survey_questions.each do |question| %>
        <% rating = @survey.rating_for(question) %>
        <tr>
          <td><%= question.title %></td>
          <td><%= mood_img(rating) %></td>
          <td>
            <% unless rating.nil? %>
                <span><%= sprintf('%.2f', rating) %></span>
            <% end %>
          </td>

          <% @survey.teams.each do |team| %>
              <td><%= mood_img(@survey.rating_for(question, team)) %></td>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>