<p id="notice"><%= notice %></p>

<h1>Listing Survey Responses</h1>
<table class="responses">
  <thead>
    <tr>
      <th>Question</th>
      <th colspan="2">Average</th>
      <th colspan="<%= @survey_responses.length %>">
        Individual Responses
      </th>
    </tr>
  </thead>

  <tbody>
    <% analysis = @survey_instance.analyze %>

    <% @survey_instance.survey.survey_questions.each do |question| %>
        <tr>
          <td><%= question.title %></td>
          <td>
            <% rating = analysis[question] %>
            <% unless rating.nil? %>
                <img src="/moods/<%= Mood.classify(rating).name %>.png"/>
            <% end %>
          </td>
          <td>
            <% unless rating.nil? %>
                <span><%= sprintf('%.2f', rating) %></span>
            <% end %>
          </td>

          <% @survey_responses.each do |response| %>
              <% answer = response.answer_for(question) %>
              <% unless answer.nil? || answer.mood.nil? %>
                  <td><img src=<%= "/moods/#{answer.mood.name}.png" %>/></td>
              <% end %>
          <% end %>
        </tr>
    <% end %>
  </tbody>
</table>