<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @survey_response.user %>
</p>

<p>
  <strong>Survey instance:</strong>
  <%= @survey_response.survey_instance %>
</p>

<%= link_to 'Edit', edit_survey_response_path(@survey_response) %> |
<%= link_to 'Back', survey_responses_path %>
