<% breadcrumb :survey_template, @survey_template %>

<script>
  $(function() {
    $('.edit-question').hide();

    $('body').on('click', '.edit-question .cancel', function () {
      $(this).closest('.edit-question').hide();
      return true;
    });

    $('#add-question').click(function() {
      $('#modal-add-question').openModal();
    });

    $('.edit-question-link').click(function(e) {
      $(e.target).closest('.show-question').hide();
      $(e.target).closest('.show-question').next().show();
    });

    $('.edit-question .cancel').click(function(e) {
      $(e.target).closest('.edit-question').hide();
      $(e.target).closest('.edit-question').prev().show();
    });

    $('form').submit(function(e) {
      var url = $(this).attr('action');
      var data = $(this).serialize();
      $.ajax({
        type: 'POST',
        url: url,
        data: data,
        success: function() {
          window.location = window.location;
        }
      });
      e.preventDefault();
    });
  });
</script>

<div class="page-content">
  <%= breadcrumbs %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @survey_template.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @survey_template.description %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= @survey_template.organization %>
  </p>

  <%= link_to 'Edit', edit_survey_template_path(@survey_template) %> |
</div>

<div class="page-content">
  <table>
    <tr>
      <th>Question</th>
      <th>Summary</th>
    </tr>
    <% @survey_template.survey_questions.each do |question| %>
        <tr class="show-question">
          <td width="33%">
            <%= question.title %>
          </td>
          <td width="66%" style="position: relative;">
            <%= question.text %>
            <a style="position: absolute; top: 0; right: -60px;" class="btn-floating edit-question-link teal"><i class="material-icons">mode_edit</i></a>
          </td>
        </tr>
        <tr class="edit-question">
          <td colspan="3">
            <%= form_tag(survey_question_path(question, format: :json), method: :put) do %>
                <div class="row">
                  <div class="input-field col s4">
                    <input id="survey_question_title" name="survey_question[title]" type="text" class="validate" value="<%= question.title %>">
                    <label for="survey_question_title">Title</label>
                  </div>
                  <div class="input-field col s8">
                    <input id="survey_question_text" name="survey_question[text]" type="text" class="validate" value="<%= question.text%>">
                    <label for="survey_question_text">Text</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <button class="submit btn">Submit</button>
                    <button type="button" class="cancel btn-flat">Cancel</button>
                  </div>
                </div>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>

<div class="fixed-action-btn">
  <button id="add-question" class="fab">
    <i class="large material-icons">add</i>
  </button>
</div>

<!-- Modal Structure -->
<div id="modal-add-question" class="modal">
  <%= form_tag(survey_template_survey_questions_path(@survey_template, format: :json), method: :post) do %>
  <div class="modal-content">
    <h4>Add Question</h4>
    <div class="row">
      <div class="input-field col s12">
        <input id="new_question_title" name="survey_question[title]" type="text" class="validate">
        <label for="new_question_title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="new_question_text" name="survey_question[text]" type="text" class="validate">
        <label for="new_question_text">Text</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</button>
    <button id="create-question" class="btn">Add</button>
  </div>
  <% end %>
</div>