<script>
  $(function () {
    $('#select-team').on('change', function (e) {
      var teamId = $(e.target).val();
      window.location = window.location + '/' + teamId;
    });
  });
</script>

<% if @team.nil? %>
    <% breadcrumb :organization_trends, @survey_template %>
    <h5>Trends for <b><%= @organization.name %> <%= @survey_template.name %></b></h5>

    <div class="input-field col s12">
      <select id="select-team">
        <option value="" disabled selected>Drill down to team</option>
        <% @survey_template.organization.teams.each do |team| %>
            <option value="<%= team.id %>"><%= team.name %></option>
        <% end %>
      </select>
    </div>
<% else %>
    <% breadcrumb :team_trends, @team, @survey_template %>
    <h5>Trends for <b><%= @team.name %> <%= @survey_template.name %></b></h5>
<% end %>

<table>
  <tr>
    <th>Question</th>
    <% @surveys.each do |survey| %>
        <th><%= survey.created_at.strftime('%-d %b %y') %></th>
    <% end %>

    <% @survey_template.survey_questions.each do |question| %>
        <tr>
          <td>
            <%= question.title %>
          </td>

          <% @surveys.each do |survey| %>
              <td>
                <%= mood_img(survey.rating_for(question, @team)) %>
              </td>
          <% end %>
        </tr>
    <% end %>
  </tr>
</table>