<!DOCTYPE html>
<html>
  <head>
    <title>AgileplanningIoMetrics</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav>
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">agileplanning.io | metrics</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
              <li>
                <%= link_to 'Profile', current_user %>
              </li>
              <li>
                <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
              </li>
          <% else %>
              <li>
                <a href="/try">Try it</a>
              </li>
              <li>
                <%= link_to 'Sign in', new_user_session_path %>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <% if notice %>
          <div class="panel">
            <i class="material-icons">info_outline</i>
            <span class="content"><%= notice %></span>
            <button class="close waves-effect waves-teal">
              <i class="material-icons">done</i>
            </button>
          </div>
      <% end %>
      <% if alert %>
          <div class="panel">
            <i class="material-icons">error_outline</i>
            <span class="content"><%= alert %></span>
            <button class="close waves-effect waves-teal">
              <i class="material-icons">done</i>
            </button>
          </div>
      <% end %>

      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>

  </body>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>agileplanning.io | metrics</h5>
          <p>
            An app for automating Spotify style <a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/">squad health checks</a>.
          </p>
          <p>
            Please note: this app is currently in <b>alpha</b>. Please only try it if you're interested in contributing
            (whether product ideas or pull requests). While in alpha, this app may prove unstable, and your data may be
            lost.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>About the app</h5>
          <ul>
            <li><a href="https://github.com/jbrunton/agileplanning-io-metrics">Project page on Github</a></li>
            <li><a href="https://github.com/jbrunton/agileplanning-io-metrics/issues">Raise an issue</a></li>
            <li><a href="/try">Try it out</a></li>
            <li><a href="https://labs.spotify.com/2014/09/16/squad-health-check-model/">Spotify's squad health check model</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        Made by <a href="https://github.com/jbrunton">jbrunton</a>
      </div>
    </div>
  </footer>

</html>
